#center{width: 100%;}
#margin{margin-left:  50%;color: purple;}
body{margin: 0px;padding: 0px;}
#box{background-color: rgb(248, 191, 191);padding: 10px;width: 20%;margin:10px}
#red{color :red}
#second{border-left:5px red solid; border-top: 2px green solid;width: 35%;border-right: 5px blue solid;
border-bottom: 2px purple solid;padding: 7px;margin :10px}
#therd{background-color: rgb(243, 200, 200);margin:10px; padding: 10px;width: 30%;}
#procenti{color: red;border-bottom: 2px black solid;font-size: 30px;}
#forth{border: 2px blue solid;margin: 10px;width: 50%;width: 30%;;}
#peri{color: rgb(31, 31, 238);padding-left: 5px; ;}
#last{background-color:  red ;border:1px red;font-size: 50px;width: 180px;margin-left: 10px;}
#fasdakleba{border: 1px red solid;padding: 40px ;width: 80px;margin-left: 10px;color:white}